* {
  padding: 0px;
  margin: 0px; }

body {
  width: 100%;
  height: 100%;
  background-image: url(../img/2.jpg);
  background-position: center center; }

.bo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.12);
  background-position: center;
  background-size: 100%;
  filter: blur(20px) grayscale(3);
  opacity: 0.7; }

#can {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 10px 10px 100px rgba(239, 239, 239, 0.32); }

.active {
  background: #235421;
  color: #fff; }

.title {
  width: 100%;
  height: 100%;
  background: url(../img/title.png);
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  right: 0;
  bottom: 0;
  margin: auto; }
  .title .title-btns {
    width: 60%;
    height: 90px;
    margin: 0 auto;
    margin-top: 35%; }
    .title .title-btns div {
      background: red;
      cursor: pointer;
      border-radius: 60px; }
      .title .title-btns div:hover {
        box-shadow: 0 0 10px #ccc; }
    .title .title-btns .start {
      width: 18%;
      height: 69%;
      float: left;
      background: url(../img/start.png) no-repeat center center; }
    .title .title-btns .exit {
      width: 18%;
      height: 69%;
      float: right;
      background: url(../img/exit.png) no-repeat center center; }

.gameDiff {
  width: 28%;
  height: 35%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-left: -27%;
  box-shadow: 0 0 20px #ccc;
  transition: all ease 0.5s;
  background: url("../img/bj5.jpg") no-repeat;
  border-radius: 10px;
  background-size: cover; }
  .gameDiff.hov {
    margin: auto; }
  .gameDiff .game-title {
    width: 35%;
    height: 20%;
    margin: 30px auto;
    background: url(../img/selectGame.png) no-repeat;
    background-size: contain; }
  .gameDiff .game-btns {
    width: 80%;
    height: 70px;
    margin: 70px auto; }
    .gameDiff .game-btns div {
      margin: 0 30px 10px; }
    .gameDiff .game-btns #reset {
      width: 24%;
      height: 30px;
      border-radius: 20px;
      float: left;
      background: url("../img/reset.png") no-repeat;
      background-size: contain; }
      .gameDiff .game-btns #reset:hover {
        cursor: pointer;
        box-shadow: 0 0 10px #fff; }
    .gameDiff .game-btns #btn {
      width: 24%;
      height: 30px;
      border-radius: 20px;
      float: left;
      background: url("../img/ai.png") no-repeat;
      background-size: contain; }
      .gameDiff .game-btns #btn:hover {
        cursor: pointer;
        box-shadow: 0 0 10px #fff; }
    .gameDiff .game-btns #close {
      width: 24%;
      height: 30px;
      float: left;
      border-radius: 20px;
      background: url("../img/exitSele.png") no-repeat;
      background-size: contain; }
      .gameDiff .game-btns #close:hover {
        cursor: pointer;
        box-shadow: 0 0 10px #fff; }
    .gameDiff .game-btns #free {
      width: 24%;
      height: 30px;
      float: left;
      border-radius: 20px;
      background: url("../img/freeStyle.png") no-repeat;
      background-size: contain; }
      .gameDiff .game-btns #free:hover {
        cursor: pointer;
        box-shadow: 0 0 10px #fff; }

.blackBlock {
  width: 200px;
  display: none;
  height: 200px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 10px #fff;
  position: absolute;
  top: 60px;
  left: 60px; }
  .blackBlock .hei {
    width: 35%;
    height: 15%;
    margin: 0 auto;
    margin-bottom: 15px;
    background-repeat: no-repeat;
    background-image: url("../img/blackClock.png");
    background-size: contain; }
  .blackBlock #black {
    display: block;
    margin: 0 auto;
    background-image: url("../img/block.png");
    background-size: contain; }

.whiteBlock {
  width: 200px;
  height: 200px;
  display: none;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 10px #fff;
  position: absolute;
  top: 60px;
  right: 60px; }
  .whiteBlock .bai {
    width: 35%;
    height: 15%;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-bottom: 15px;
    background-repeat: no-repeat;
    background-image: url("../img/whiteClock.png");
    background-size: contain; }
  .whiteBlock #white {
    display: block;
    margin: 0 auto;
    background-image: url("../img/block.png");
    background-size: contain; }

.wintitle {
  width: 28%;
  height: 35%;
  position: absolute;
  display: none;
  z-index: 5;
  top: 0;
  bottom: 0;
  border-radius: 20px;
  left: 0;
  right: 0;
  margin: auto;
  box-shadow: 0 0 20px #ccc;
  background: url("../img/bj5.jpg") no-repeat; }
  .wintitle .win-title {
    text-align: center;
    line-height: 100%;
    font-size: 30px;
    color: #fff; }
